@model IEnumerable<Project_63132041.Models.Nguoidung>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin_63132041/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Bạn phải đăng nhập mới sử dụng được</h2>
